// --------------------
// Definition of variables
$primary: white;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

// --------------------
// Style reusable for all components
canvas {
  position: relative !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  background-color: black;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  .App-header {
    padding: 20px 0;
    // background-image: linear-gradient(rgba(255,0,0,1), rgba(0,0,0,1));

    a {
      padding: 0 2vw;
      text-decoration: unset;
      
    }

    // a.active {
    //   font-weight: bold;
    // }
    a:hover {
      color: red;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      padding: 0 2vw;
    }
    .nav-left {
      text-align: left;
    }
    .nav-right {
      text-align: right;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

// Reusable global style classes

  .pageContent {
    margin: 10vh 15vw;
    background-color: black;
  }

  // .bg1 {
  //   background-image: src(bg1.jpg)
  // }

  // MEDIA PLAYER STYLES
  
  .media-player {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    // border: solid 1px maroon;
    padding: 0 2vw;
    margin-bottom: -0.1vh;
    background-image: linear-gradient(45deg, rgb(78, 9, 9), rgb(41, 41, 41));
    height: 18vh;
    padding-bottom: 3vh;
  }
 
  .track-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    // background-color: rgb(73, 73, 73);
    background-image: linear-gradient(45deg, rgb(78, 9, 9), rgb(41, 41, 41));
    margin-top: none;
  }
  .artist {
    font-size: 1.4vw;
    color: white;
    width: 28%;
    margin-left: 2.85vw;
  }
  .album-art {
    width: 8vw;
    height: auto;
  }
  .title {
    font-size: 1.5vw;
    color: cornsilk;
    width: 70.5%;
  }
  .control-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.75vh;
  }
  .play-button {
    padding: 0;
    background-color: black;
    outline:none;
    border: none;
    border-radius: 50%;
    margin: 0.5vh;
    height: 50px;
    width: 50px;
  }
  .play-button:hover {
    background-color: maroon;
  }
  // .media-time {

  // }

  .media-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .waveform-right {
    width: 70%;
    // border: solid 2px rgb(48, 48, 48);
    // background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(112, 112, 112)); 
  }

  // FORM STYLES
  .form-horizontal {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  
  .form-vertical {
    display: flex;
    flex-direction: column;
  }

  .form-item {
    width: 100%;
  }

  .form-label {
    margin: 2vh 0 0 0;
  }

  .form-input {
    width: 30vw;
  }

  .form-button {
    width: 20%;
    margin: 4vh 0;
  }

// --------------------
// Style for Profile component
  .profile-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .link-icons {
    display: flex;
    justify-content: flex-start;
    flex-direction: row; 
  }

  .profile-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .profile-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .location {
    color: red;
  }
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
  .upload-list {
    list-style: none;
  }
}


