// --------------------
// Definition of variables
$primary: white;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  background-color: black;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  .App-header {
    padding: 20px 0;
    // background-image: linear-gradient(rgba(255,0,0,1), rgba(0,0,0,1));

    a {
      padding: 0 2vw;
      text-decoration: unset;
      
    }

    // a.active {
    //   font-weight: bold;
    // }
    a:hover {
      color: red;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      padding: 0 2vw;
    }
    .nav-left {
      text-align: left;
    }
    .nav-right {
      text-align: right;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

// Reusable global style classes

  .pageContent {
    padding: 10vh 15vw;
    background-color: black;
  }

  // MEDIA PLAYER STYLES
  .media-player {
    display: block;
    // background-color: rgb(109, 109, 109);
    background-image: url("/berlinwall.jpg");
    background-size: cover;
    height: 21.9vh;
    border: 2px solid maroon;
  }

  .media-controls {
    padding: 0;
    // background-color: rgb(109, 109, 109);
    background-color: black;
    outline:none;
    border: none;
    border-radius: 50%;
    margin: 0.5vh 0.5vw;
  }

  .play-button {
    float: right;
    margin: 6vh 1vw;

  }

  .media-left {
    
  }

  .waveform-right {
    width: 60%;
    float: right;
    border: 2px maroon solid;
    background-color: black;
    margin: 2vh 1vw;
  }

  // FORM STYLES
  .form-horizontal {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  
  .form-vertical {
    display: flex;
    flex-direction: column;
  }

  .form-item {
    width: 100%;
  }

  .form-label {
    margin: 2vh 0 0 0;
  }

  .form-input {
    width: 30vw;
  }

  .form-button {
    width: 20%;
    margin: 4vh 0;
  }

// --------------------
// Style for Profile component
  .profile-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .link-icons {
    display: flex;
    justify-content: flex-start;
    flex-direction: row; 
  }

  .profile-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .profile-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .location {
    color: red;
  }
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
  .upload-list {
    list-style: none;
  }
}


