// --------------------
// Definition of variables
$primary: #32c3ff;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  .App-header {
    padding: 20px 0;
    color: black;

    a {
      color: black;
      padding: 0 2vw;
      text-decoration: unset;
      
    }

    a.active {
      font-weight: bold;
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      padding: 0 2vw;
    }
    .nav-left {
      text-align: left;
    }
    .nav-right {
      text-align: right;
    }
  }

  .App-title {
    font-size: 1.5em;
  }
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}
